/*
  *** TODO: fill in your header ***
  Name: Wen Qiu
  Date: April 2, 2019
  Section: CSE 154 AJ
  WRITE A 1-3 SENTENCE SHORT FILE DESCRIPTION HERE
*/

@import url('https://fonts.googleapis.com/css?family=Poiret+One|Raleway');

body {
  background-color: #111;
  font-family: Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

header {
  display: flex;
  z-index: 2;
  position: fixed;
  color: white;
  top: 0;
  background-color: #111;
  width: 100%;
}

main {
  margin-top: 100px;
  margin-left: 120px;
  background-color: #111;
}

section {
  scroll-margin-top: 100px;
  margin-bottom: 100px;
  background: white;
  padding: 20px 20px;
}

footer {
  margin-left: 120px;
  color: white;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: 'Poiret One', cursive;
  background-color: grey;
  color: white;
  font-size: 2em;
  width: 50%;
  margin-top: 0px;
}

header h1 {
  background-color: #111;
  margin-top: 20px;
  margin-left: 120px;
  text-align: left;
}

h2 {
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
}

li {
  font-family: 'Raleway', sans-serif;
}

nav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  color: white;
  margin-top: 80px;
}

nav ul {
  list-style: none;
}

nav ul li {
  padding: 20px 0;
  font-family: 'Poiret One', cursive;
  font-size: 1.5em;
}

a {
  color: white;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*
  A hack for the scroll to snap properly
*/
#other-experience {
  margin-bottom: 340px;
}

#view-more {
  margin-left: 20px;
  color: blue;
  text-decoration: underline;
  font-weight: lighter;
  font-size: 0.8em;
}
