/*
  Name: Wen Qiu
  Date: April 2, 2019
  Section: CSE 154 AJ
  This is the style.css page for my website including my digital resume and digital
  artwork.
  It is used by all pages in my portfolio to give the site a consistent look and feel.
*/

@import url('https://fonts.googleapis.com/css?family=Poiret+One|Raleway');

html {
  scroll-behavior: smooth;
}

body {
  background-color: #111;
  font-family: Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

header {
  display: flex;
  z-index: 2;
  position: fixed;
  color: white;
  top: 0;
  background-color: #111;
  width: 100%;
}

main {
  margin-top: 100px;
  margin-left: 120px;
  background-color: #111;
}

section {
  scroll-margin-top: 100px;
  margin-bottom: 100px;
  background: white;
  padding: 20px 20px;
}

footer {
  margin-left: 120px;
  color: white;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: 'Poiret One', cursive;
  background-color: grey;
  color: white;
  font-size: 2em;
  width: 50%;
  margin-top: 0px;
}

header h1 {
  background-color: #111;
  margin-top: 20px;
  margin-left: 120px;
  text-align: left;
  font-size: 3em;
}

h2, p {
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
}

li {
  font-family: 'Raleway', sans-serif;
}

nav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  color: white;
  margin-top: 80px;
  animation-name: nav-animation;
  animation-duration: 1s;
}

nav ul {
  list-style: none;
}

nav ul li {
  padding: 20px 0;
  font-family: 'Poiret One', cursive;
  font-size: 1.5em;
}

@keyframes nav-animation {
  from {
    left: -200px;
  }
  to {
    left: 0px;
    position: fixed;
  }
}

a {
  color: white;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  animation-name: image-animation;
  animation-duration: 2s;
}

@keyframes image-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.subsection {
  height: 50px;
}

.subsection h2 {
  position: relative;
  left: 70px;
}

.subsection img {
  position: absolute;
  height: 50px;
  width: 50px;
}

/*
  A hack for the scroll to snap properly
*/
#other-experience {
  margin-bottom: 390px;
}

.hyperlink {
  color: blue;
  text-decoration: underline;
  font-weight: lighter;
  font-size: 1em;
}
